altair
asttokens
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
colorama
colour
contourpy
cycler
decorator
entrypoints
et-xmlfile
executing
firebirdsql
fonttools
gitdb
GitPython
idna
importlib-metadata
ipython
jedi
Jinja2
joblib
jsonschema
kiwisolver
manimlib
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
numpy
opencv-python
openpyxl
packaging
pandas
parso
pickleshare
Pillow
plotly
progressbar
prompt-toolkit
protobuf
pure-eval
pyarrow
pydeck
pydub
Pygments
Pympler
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
reportlab
requests
rich
scikit-learn
scipy
semver
six
smmap
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
